:root {
    --branco-principal: #fff;
    --vermelho-principal: rgb(193, 27, 27);
    --cinza-footer: #51574a;
    --preto-fonte: #000;
    --cinza-fonte-claro: rgb(181, 181, 181);
    --cinza-fonte: rgb(70, 70, 70);
    --link-fonte: #77b0f2;
    --fonte-principal: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --tamanho-fonte-pequeno: 14px;
    --tamanho-fonte-normal: 20px;
    --tamanho-fonte-titulo-h1: 40px;
    --tamanho-fonte-grande: 65px;

    --font-xx-link: 3vw;
    --font-xs-link: 2vw;
    --font-sm-link: 1vw;
    --font-md-link: 0.75vw;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
}

/*NAVBAR START*/
.nav-list a {
    color: var(--branco-principal);
    font-size: var(--font-md-link);
    text-decoration: none;
    margin: 0% 10px;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: var(--font-xs-link);
    font-weight: normal;
    color: var(--branco-principal);
    letter-spacing: 2px;
}

header {
    background: var(--vermelho-principal);
    width: 100%;
    justify-content: center;
    height: auto;
    padding: 0.25em 0;
}

nav {
    display: flex;
    width: 80%;
    height: 5.vh;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.nav-list {
    list-style: none;
    display: flex;
    text-align: right;
    margin: 1% 1% 1% auto;
}

.nav-list li {
    align-items: center;
}

.nav-button {
    background-color: var(--branco-principal);
    color: var(--vermelho-principal) !important;
    font-size: var(--font-xx-link);
    text-decoration: none;
    padding: 0.5em 1em;
    border-width: 1px;
    border-style: solid;
    border-color: var(--vermelho-principal);
    border-radius: 5px;
    margin: auto;
}

.nav-button:hover {
    cursor: pointer;
    opacity: 100;
    background-color: var(--vermelho-principal);
    color: var(--branco-principal) !important;
    border-color: var(--branco-principal);
}

.mobile-menu {
    display: none;
    cursor: pointer;
    /* muda o cursor */
}

.mobile-menu div {
    color: var(--vermelho-principal);
    width: 32px;
    height: 2px;
    background-color: var(--branco-principal);
    margin: 8px;
}

/* - - - RESPONSIVE - - - */
@media (max-width: 1050px) {
    header {
        position: fixed;
    }

    body {
        overflow-x: hidden;
        /*esconde tudo que transborda o eixo X*/
    }

    .nav-list a {
        font-size: var(--font-xx-link);
    }

    .nav-list {
        position: absolute;
        top: 5.1vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: var(--vermelho-principal);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        /*manda para fora da tela*/
        transition: transform 0.3s ease-in;
        font-size: var(--font-xx-link);
    }

    .nav-list li {
        margin-left: 0%;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu div {
        font-size: 0%;
    }

    .nav-button {
        color: var(--vermelho-principal);
        font-size: var(--font-xx-link);
        margin: 0;
    }

    .nav-button:hover {
        background-color: var(--vermelho-principal);
        color: var(--branco-principal);
    }

}

.nav-list.active {
    transform: translateX(0);
    /*coloca na tela*/
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* - - - RESPONSIVE - - - */
/*NAVBAR END*/

/*CARD START*/
.container-cards {
    margin: 0 17%;
}

.cards {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 185, 185);
    margin-right: 17%;
    margin-left: 17%;
    margin-top: 12.5%;
}

.bnt {
    width: 90px;
    height: 20px;
    margin-top: 10px;
    margin-left: 65px;
}

.bnt button:hover {
    background-color: var(--vermelho-principal);
}

.button-card {
    width: 100px;
}

.cards-firstrow {
    display: flex;
    flex-direction: row;
}

.cards-secondrow {
    display: flex;
    flex-direction: row;
}

.card {
    width: 320px;
    padding: 100px 150px;
    background-color: var(--branco-principal);
}

.card img {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 45px;
}

.card h2 {
    text-align: center;
    margin-top: 20px;
    color: var(--preto-fonte);
}

.card p {
    text-align: center;
    margin-top: 20px;
    color: var(--preto-fonte);
}

.card button {
    background-color: var(--branco-principal);
    border-radius: 20px;
    border: 10px;
    border-color: var(--preto-fonte);
    font-size: 15px;
    margin-top: 20px;
    margin-left: 110px;
}

.card button:hover {
    background-color: var(--branco-principal);
}

.text-card a {
    font-size: large;
    color: var(--link-fonte);
}

/*CARD END*/

/*CONTATO START*/
.fundo {
    background-image: url("../images/Etec-Butbunito-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: row;
}

.fundo h1 {
    font-size: var(--font-xs-link);
    margin: auto;
}

.fale-conosco {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
}

.contato {
    background-color: rgba(0, 0, 0, 0.5);
    /* Define a cor de fundo com transparência */
    color: var(--branco-principal);
    border-radius: 20px;
    width: 47.5%;
    height: 80%;
    margin: 10% auto;
    padding: 10px 10px;
}

.inputs {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2vw 1vw;
    border-radius: 20px;
}

.inputs>h1 {
    color: var(--preto-fonte);
    font-weight: 800;
    margin: 0;
}

.inputs-first-column {
    margin-right: auto;
}

.inputs-second-column {
    margin-left: auto;
}

.espaco-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.espaco-input label {
    font-size: large;
    font-weight: 700;
    margin-top: 10%;
}

.espaco-input select {
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
    border: none;
    border-bottom: 2px solid var(--vermelho-principal);
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.0);
    /* Define a cor de fundo com transparência */
    color: var(--preto-principal);
    font-size: var(--font-sm-link);
    box-shadow: none;
    outline: none;
}

.espaco-input>input {
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
    border: none;
    border-bottom: 2px solid var(--vermelho-principal);
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.0);
    /* Define a cor de fundo com transparência */
    color: var(--branco-principal);
    font-size: var(--font-sm-link);
    box-shadow: none;
    outline: none;
}

.espaco-input select:focus,
.espaco-input>input:focus {
    border-bottom-color: var(--vermelho-principal);
    outline: none;
}

.contato-enviar {
    margin-top: 10%;
}

.fale-conosco input[type="submit"] {
    background-color: rgba(0, 0, 0, 0.5);
    /* Define a cor de fundo com transparência */
    color: var(--branco-principal);
    /* Define a cor do texto do botão */
    border-radius: 25%;
    /* Remove a borda do botão */
    padding: 10px 20px;
    /* Adiciona preenchimento interno ao botão */
    cursor: pointer;
    /* Muda o cursor para indicar que o botão é clicável */
    width: 8vw;
    font-size: var(--font-sm-link);
    margin: auto;
}

input[type="submit"]:hover {
    background-color: rgba(255, 0, 0, 0.5);
    /* Define a cor de fundo com transparência */
    /* Muda a cor de fundo quando o mouse passa por cima */
    color: var(--branco-principal);
}

/*CONTATO END*/

/*LOGIN START*/
.container-login-principal {
    display: flex;
    flex-direction: row-reverse;
    background-image: url("../images/Etec-Butbunito-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: auto;
    height: 100vh;
    align-items: center;
}

.login-principal {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

/*conteiner esquerdo*/
.conteiner-anun-login {
    margin-top: 7.5%;
    padding-left: 5%;
    width: 37.5%;
}

.conteiner-anun-login a {
    color: var(--branco-principal);
    font-size: var(--font-xs-link);
    font-weight: 800;
    text-decoration: none;
    margin: 0% 10%;
    transition: 0.3s;
}

.conteiner-anun-login a:hover {
    color: var(--vermelho-principal);
    font-size: var(--font-xs-link);
    text-decoration: none;
    transition: 0.3s;
}

.conteiner-anun-login h3 {
    color: var(--branco-principal);
    font-size: var(--font-sm-link);
    padding-top: 5%;
}

/*container direito*/
.container-login {
    background-color: rgba(0, 0, 0, 0.5);
    /* Define a cor de fundo com transparência */
    width: 37.5%;
    height: 80%;
    border-radius: 20px;
    /*margin: 4% 4% 5% 0%;*/
    margin-left: auto;
}

.login {
    color: var(--branco-principal);
    width: 50%;
    height: auto;
    padding: 5% 4.5%;
    margin: auto;
}

.login h1 {
    font-size: var(--font-xs-link);
    margin-top: 10%;
}

.login p {
    font-size: var(--font-sm-link);
    color: var(--branco-principal);
}

.login a {
    font-size: var(--font-sm-link);
    color: var(--link-fonte);
}

.card-login {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6px 5px;
}

.card-login>h1 {
    color: var(--branco-principal);
    font-weight: 800;
    margin: 0;
}

.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.textfield label {
    font-size: var(--font-ms-link);
    font-weight: 700;
    margin-top: 10%;
}

.textfield input::placeholder {
    font-size: var(--font-sm-link);
}

.textfield>input {
    width: 100%;
    margin-top: 2%;
    margin-left: 2%;
    border: none;
    border-bottom: 2px solid var(--vermelho-principal);
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.0);
    /* Define a cor de fundo com transparência */
    color: var(--branco-principal);
    font-size: var(--font-sm-link);
    box-shadow: none;
    outline: none;
}

.textfield>input:focus {
    /*  quando um usuário clica em um campo */
    border-bottom: 2px solid var(--vermelho-principal);
}

.enviar {
    margin: 10% 1% 1% 90%;
}

.container-login input[type="submit"] {
    background-color: rgba(0, 0, 0, 0.5);
    /* Define a cor de fundo com transparência */
    color: var(--branco-principal);
    /* Define a cor do texto do botão */
    border-radius: 25%;
    /* Remove a borda do botão */
    padding: 10px 20px;
    /* Adiciona preenchimento interno ao botão */
    cursor: pointer;
    /* Muda o cursor para indicar que o botão é clicável */
    width: 8vw;
    font-size: var(--font-sm-link);
    margin: auto;
}

input[type="submit"]:hover {
    background-color: rgba(255, 0, 0, 0.5);
    /* Define a cor de fundo com transparência */
    /* Muda a cor de fundo quando o mouse passa por cima */
    color: var(--branco-principal);
}

/*LOGIN END*/

/*FOOTER START*/
.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--cinza-footer);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    justify-content: center;
    justify-content: flex-end;
}

.footer-01-hr {
    background-color: var(--vermelho-principal);
    color: var(--branco-principal);
    width: 100%;
}

.footer-01 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.footer-01 h1 {
    font-size: var(--font-xx-link);
}

.inscreva-se-button {
    background-color: var(--branco-principal);
    color: var(--vermelho-principal);
    font-size: var(--font-xs-link);
    text-decoration: none;
    padding: 0.5em 1em;
    border-width: 1px;
    border-style: solid;
    border-color: var(--vermelho-principal);
    border-radius: 5px;
}

.inscreva-se-button:hover {
    cursor: pointer;
    opacity: 100;
    background-color: var(--vermelho-principal);
    color: var(--branco-principal);
    border-color: var(--branco-principal);
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 20px;
}

.btn-footer-button {
    margin-left: 0vw;
}

.footer-02-hr {
    background-color: var(--cinza-fonte);
    color: var(--branco-principal);
    
    width: 100%;
}

.footer-02 {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1em;
}

.footer-02 h1 {
    font-size: var(--font-sm-link);
}

.footer-02 h2 {
    font-size: var(--font-md-link);
    padding: 1vw 1vw 0vw 1.1vw;
}

.footer-02 h3 {
    font-size: var(--font-xs-link);
}

.footer-part {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.criadores-lista {
    display: flex;
    flex-direction: row;
}

.right-icons {
    display: flex;
    justify-content: space-between;
}

.right-icons a {
    height: auto;
}

.right-icons img {
    width: 4vw;
    margin: 1em 1em;
}

/* - - - RESPONSIVE - - - */
@media (max-width: 1050px) {
    .footer-02 {
        flex-direction: column;
    }

    .footer-02 h1 {
        font-size: var(--font-xx-link);
    }

    .footer-02 h2 {
        font-size: var(--font-xs-link);
    }

    .footer-02 h3 {
        font-size: var(--font-xx-link);
    }

    .footer-part {
        padding: 7.5% 2.5% 0% 3%;
    }
}

/*FOOTER END*/