:root {
    --branco-principal: #ffffff;
    /*SCARLET:FF2400;CANDY APPLE:FF0800; BLUE:035ca1*/
    --tema-primario:#035ca1;
    --tema-secundario:#F2B705;
    --tema-terciario:#1A4261;
    --tema-quartenario: #038C3E;
    --preto-fonte: #000000;
    --cinza-fonte-claro: #e8f0fe;
    --cinza-fonte: #404040;
    --link-fonte: #77b0f2;
    --fonte-principal: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --fonte-grande: 3vw;
    --fonte-media: 2vw;
    --fonte-padrao: 1vw;
    --fonte-pequena: 0.61vw;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}
html, body {
    min-height: 100vh;
}
/* NAVBAR START*/
a:hover {
    opacity: 0.7;
}
header {
    background: var(--tema-primario);
    width: 100%;
    justify-content: center;
    height: 7.5vh;
}
nav {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.logo {
    font-size: 1.50vw;
    color: var(--branco-principal);
    letter-spacing: 2px;
    text-decoration: none;
}
.nav-list {
    list-style: none;
    display: flex;
    margin: 1% 1% 1% 15%;
}
.nav-list li {
    padding: 3.5% 1%;
}
.nav-list a {
    color: var(--branco-principal);
    font-size: var(--fonte-padrao);
    text-decoration: none;
    padding: 0.1vw;
    margin: 2.5% 0.3vw;
    transition: 0.3s;
}
.nav-button {
    color: var(--branco-principal);
    margin: auto;
}
.nav-button button {
    background-color: var(--branco-principal);
    color: var(--preto-fonte);
    font-size: var(--fonte-padrao);
    border-radius: 15px;
    padding: 4% 9%;
    margin: 0% 15%;
}

.nav-button button:hover {
    cursor: pointer;
    background-color: var(--tema-terciario);
    color: var(--branco-principal);
}
.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    color: var(--tema-terciario);
    width: 100%;
    height: 2px;
    background-color: var(--branco-principal);
    margin: 8px;
}
/* - - - RESPONSIVE - - - */
@media (max-width: 1050px) {
    body {
        overflow-x: hidden;
        /*esconde tudo que transborda o eixo X*/
    }
    .nav-list a {
        font-size: var(--fonte-grande);
    }
    .nav-list {
        position: absolute;
        top: 5.1vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: var(--preto-fonte);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        /*manda para fora da tela*/
        transition: transform 0.3s ease-in;
        font-size: var(--fonte-grande);
    }
    .nav-list li {
        margin-left: 0%;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    .mobile-menu div {
        font-size: 0%;
    }
    .nav-button {
        color: var(--branco-principal);
        margin: 0;
    }
    .nav-button button {
        background: none;
        color: var(--branco-principal);
        font-size: var(--fonte-media);
        border: none;
        padding: 0;
        text-align: left;
    }

    .nav-button button:hover {
        opacity: 0.7;
    }
}
.nav-list.active {
    transform: translateX(0);
    /*coloca na tela*/
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* - - - RESPONSIVE - - - */
/*NAVBAR END*/

/*INÍCIO START*/
.container-inicio {
    background-image: url('https://www.pexels.com/photo/people-wearing-backpacks-1454360/');    
    background-size: cover;
}
.conteudo-inicio {
    width: 70%;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 6%;
}
.conteudo-inicio h1{
    font-size: var(--fonte-grande);
    color: var(--tema-secundario);
    font-weight: 800;
    text-align: center;
}
.conteudo-inicio p{
    font-size: var(--fonte-media);
    color: var(--branco-principal);
    font-weight: 700;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 0.5s;
    margin: 7.5% 5%;
}
.conteudo-inicio p:hover{
    font-size: var(--fonte-media);
    color: var(--branco-principal);
    font-weight: 700;
    text-align: center;
    border: 2px solid var(--tema-terciario); /* Largura, estilo e cor da borda */
    margin: 7.5% 5%;
}
.text-inicio {
    margin-right: auto;
    width: 50%;
}
.botao-inicio {
    color: var(--branco-principal);
}
.botao-inicio button {
    background-color: var(--branco-principal);
    color: var(--preto-fonte);
    font-size: var(--fonte-padrao);
    border-radius: 15px;
    padding:1% 20%;
    margin-left: 25%;
    margin-right: 25%;
}

.botao-inicio button:hover {
    cursor: pointer;
    background-color: var(--tema-terciario);
    color: var(--branco-principal);
}
/*INÍCIO END*/

/*COMETARIO START*/
.comentarios-conteiner-principal {
    background-color: #404040;  
}
.comentarios-principal {
    display: flex;
    background-color: var(--cinza-fonte-claro);
    width: 80%;
    margin: 5% auto;
}
.comentarios {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: var(--cinza-fonte-claro);
    border: 20px solid var(--tema-secundario); /* Largura, estilo e cor da borda */
    border-radius: 25px; 
    padding: 5% 0%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.comentarios h1 {
    font-size: var(--fonte-grande);
    margin: 0% 0% 2% 0%;
    color: var(--preto-fonte);
    font-weight: 800;
    text-align: center;
}
.comentarios a {
    font-size: var(--fonte-padrao);
    color: var(--tema-terciario);
    text-align: center;
}
.form-comentarios {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.textfield {
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.textfield label {
    font-size: var(--fonte-padrao);
    font-weight: 700;
    margin-top: 2%;
}
.textfield input::placeholder {
    font-size: var(--fonte-padrao);
    color: var(--preto-fonte);
    padding-left: 4%;
}
.textfield>input:focus {
    outline: none;
    color: var(--preto-fonte);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10%;
    transition: 0.5s;
}
.textfield>input {
    width: 100%;
    margin-top: 2%;
    border: none;
    border-bottom: 2px solid var(--tema-secundario);
    background-color: rgba(0, 0, 0, 0.0); /* Define a cor de fundo com transparência */
    color: var(--tema-terciario);
    font-size: var(--fonte-padrao);
    box-shadow: none;
    outline: none;
}
.comentarios input[type="submit"] {
    background-color: var(--tema-terciario);
    color: var(--branco-principal);
    font-size: var(--fonte-padrao);
    border-radius: 5px;
    padding: 1% 0%;
    width: 100%;
    margin: 6% 0%;
}
input[type="submit"]:hover {
    background-color: var(--branco-principal);
    color: var(--tema-terciario);
    cursor: pointer;
    transition: 0.5s;
}
/*COMETARIO END*/

/*SOBRE START*/
.sobre {
    background-color: #ffffff;
}
.container-sobre {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2.5% auto;
}
.container-sobre h1{
    font-size: var(--fonte-media);
    color: var(--tema-primario); 
    text-align: center; 
}
.container-sobre h2{
    font-size: var(--fonte-padrao);
    color: var(--tema-terciario);
    font-weight: 600; 
    text-align: center;
}
.text-sobre { 
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center;     /* Vertical alignment */
}
.text-sobre p{
    font-size: var(--fonte-padrao);
    color: var(--tema-terciario);
    font-weight: 600;
    text-indent: 2.5%; /* Recuo do pragrafo */
}
.paragrafos-sobre {
    display: flex;
    flex-direction: column;
}
.img-sobre img{
    height: 25vw;
}
/*SOBRE END*/

/*FOOTER START*/
.footer {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    justify-content: center;
    justify-content: flex-end;
}
.footer-02-hr {
    background-color:var(--tema-primario);
}
.footer-02 {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}
.footer-02 a {
    font-size: var(--fonte-padrao);
    color: var(--branco-principal);
    padding-top: 1%;
}
.footer-02 h2 {
    font-size: var(--fonte-padrao);
    color: var(--branco-principal);
    padding-top: 1%;
}
.footer-02 h3 {
    font-size: var(--fonte-media);
}
.footer-part {
    display: flex;
    flex-direction: column;
    margin: 2.5% 0% 2.5% 2.5%;
}
.footer-part hr {
    width: 70%;
    height: 6px;
    border: none;
    background-color: var(--tema-secundario);
}
.footer-part h1 {
    color: var(--branco-principal);
    font-size: var(--fonte-media);
    padding-left: 2%;
}
.left-logo h1{
    font-size: var(--fonte-grande);
    font-weight: 700;
}
.footer-bottom-hr {
    background-color: var(--tema-primario);
    color: var(--branco-principal);
    font-size: var(--fonte-padrao);
    width: 100%;
}
.footer-bottom-hr hr{
    width: 70%;
    margin: auto;
    height: 6px;
    border: none;
    background-color: var(--tema-secundario);
}
.footer-bottom {
    display: flex;
    background-color: var(--tema-primario);
    color: var(--branco-principal);
    width: 70%;
    margin: auto;
}
.footer-bottom-h2 {
    font-size: var(--fonte-padrao);
}
.right-icons {
    display: flex;
    margin-left: 60%;
}
.right-icons a {
    color: var(--branco-principal);
    background-color: var(--tema-primario);
    padding: 2%;
}
.right-icons img {
    height: 1.25vw;
}
/* - - - RESPONSIVE - - - */
@media (max-width: 1050px) {
    .footer-02 {
        flex-direction: row;
    }
    .footer-02 h1 {
        font-size: var(--fonte-grande);
    }
    .footer-02 h2 {
        font-size: var(--fonte-media);
    }
}
/*FOOTER END*/
