:root {
    --branco-principal: #ffffff;
    /*SCARLET:FF2400;CANDY APPLE:FF0800; BLUE:035ca1*/
    --tema-primario:#265df2;
    --tema-secundario:#FFd80e;
    --tema-terciario:#0633b0;   /* 3406B3  */
    --tema-quartenario: #FFB10E;    /*o correto é quaternário*/
    --preto-fonte: #000000;
    --cinza-fonte-claro: #e8f0fe;
    --cinza-fonte: #404040;
    --link-fonte: #77b0f2;
    --opcao-tema-quinto: #3ce1f1;	
    --opcao-tema-sexto: #4e7af3;
    
    --fonte-principal: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --fonte-grande: 3vw; /* Grande */
    --fonte-media: 2vw; /* Média */
    --fonte-1p5VW: 1.15vw;
    --fonte-padrao: 1vw; /* Padrão */
    --fonte-pequena: 0.61vw; /* Pequena */
    --fonte-muitoPequena: 0.41vw;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}
/* modal navbar start*/
.modal-login dialog::backdrop { /* fundo do modal */
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-login dialog{
    border: none;
    text-align: center;
    border-radius: .5rem;
    margin: auto;
    height: 75%;
}
.container-close-modal { /* container botão*/
    display: flex;
    justify-content: end;
}
.container-close-modal button { /* botão*/
    border-radius: 35%;
    background-color: var(--branco-principal);
    font-size: var(--fonte-padrao);
    width: 10%;
    margin: 2.5%;
    border: none;
}
.container-close-modal button:hover {
    background-color: red;
    transition: .75s;
    cursor: pointer;
}
.close-img img {
    width: 100%;
}
.modal-login img { /* img login*/
    width: 60%;
    border-radius: 100%;
}
.modal-login h1 { /* nome/email login*/
    margin: 1.5rem;
    font-size: var(--fonte-media);
}
.modal-login p { /* tipo login*/
    margin: .05rem;
    font-size: var(--fonte-padrao);
}
.modal-login a { /* botão sair */
    border-radius: .5rem;
    text-decoration: none;
    background-color: var(--cinza-fonte-claro);
    color: var(--preto-fonte);
    font-size: var(--fonte-padrao);
    padding: 1% 2%;
}
.modal-login a:hover { /* botão sair */
    background-color: red;
    color: var(--preto-fonte);
    transition: .75s;
}
/* modal navbar end*/

/* navbar start*/
a:hover {
    opacity: 0.7;
}
header {
    background: var(--tema-primario);
    width: 100%;
    height: 7.5vh;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: .5rem 0.5rem;
}
.logo {
    font-size: 1.50vw;
    color: var(--branco-principal);
    letter-spacing: 2px;
    text-decoration: none;
}
.nav-list { /* LINKS NAV */
    list-style: none;
    display: flex;
    color: var(--branco-principal);
    align-items: center;
    justify-content: flex-end;
}
.nav-list li {
    padding: 3.5% 1%;
}
.nav-list a {
    color: var(--branco-principal);
    font-size: var(--fonte-padrao);
    text-decoration: none;
    padding: 0.1vw;
    margin: 2.5% 0.3vw;
    transition: 0.3s;
}
.nav-list button { /* BOTÃO LOGIN */
    background-color: var(--tema-primario);
    border: none;
    border-radius: 50%;
    width: 40px;
}
.nav-list button:hover {
    cursor: pointer;
}
.nav-list img { /* IMG USER LOGIN */
    border-radius: 50%;
    width: 100%;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    color: var(--tema-terciario);
    width: 100%;
    height: 2px;
    background-color: var(--branco-principal);
    margin: 8px;
}
/* - - - responsive - - - */
@media (max-width: 1050px) {
    body {
        overflow-x: hidden;
        /*esconde tudo que transborda o eixo X*/
    }
    .nav-list a {
        font-size: var(--fonte-grande);
    }
    .nav-list {
        position: absolute;
        top: 5.1vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background-color: var(--preto-fonte);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        /*manda para fora da tela*/
        transition: transform 0.3s ease-in;
        font-size: var(--fonte-grande);
    }
    .nav-list li {
        margin-left: 0%;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
    .mobile-menu div {
        font-size: 0%;
    }
    .nav-button {
        color: var(--branco-principal);
        margin: 0;
    }
    .nav-button button {
        background: none;
        color: var(--branco-principal);
        font-size: var(--fonte-media);
        border: none;
        padding: 0;
        text-align: left;
    }

    .nav-button button:hover {
        opacity: 0.7;
    }
}
.nav-list.active {
    transform: translateX(0);
    /*coloca na tela*/
}
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* - - - RESPONSIVE - - - */
/* navbar end */

/* aviso start */
.modal-aviso { /* O fundo da mensagem*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 10;
}
.card-aviso {
    box-sizing: border-box;
    width: 570px;
    position: absolute;
    left: 50%;
    margin-left: -285px;
    top: 50%;
    font: bold 14px sans-serif;
    border-radius: 3px;
    background-color:  #ffffff;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.12);
    padding: 45px 50px;
}
.card-aviso button{
    border-radius: 10%;
    background-color: var(--branco-principal);
    color: var(--tema-primario);
    padding: .5%;
    margin: .75%;
}
.card-aviso button:hover{
    cursor: pointer;
    background-color: var(--tema-primario);
    color: var(--branco-principal);
    transition: .75s;
}
/* aviso end */

/*inicio start*/
.container-inicio {
    background-image: url('https://www.pexels.com/photo/people-wearing-backpacks-1454360/');    
    background-size: cover;
}
.conteudo-inicio {
    width: 70%;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 6%;
}
.conteudo-inicio h1{
    font-size: var(--fonte-grande);
    color: var(--tema-secundario);
    font-weight: 800;
    text-align: center;
}
.conteudo-inicio p{
    font-size: var(--fonte-media);
    color: var(--branco-principal);
    font-weight: 700;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 0.5s;
    margin: 7.5% 5%;
}
.conteudo-inicio p:hover{
    font-size: var(--fonte-media);
    color: var(--branco-principal);
    font-weight: 700;
    text-align: center;
    border: 2px solid var(--tema-terciario); /* Largura, estilo e cor da borda */
    margin: 7.5% 5%;
}
.text-inicio {
    margin-right: auto;
    width: 50%;
}
.botao-inicio {
    color: var(--branco-principal);
}
.botao-inicio button {
    background-color: var(--branco-principal);
    color: var(--preto-fonte);
    font-size: var(--fonte-padrao);
    border-radius: 15px;
    padding:1% 20%;
    margin-left: 25%;
    margin-right: 25%;
}

.botao-inicio button:hover {
    cursor: pointer;
    background-color: var(--tema-terciario);
    color: var(--branco-principal);
}
/* inicio end*/

/* comentario start 
.comentarios-conteiner-principal {
    background-color: #404040;  
}
.comentarios-principal {
    display: flex;
    background-color: var(--cinza-fonte-claro);
    width: 80%;
    margin: 5% auto;
}
.comentarios {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: var(--cinza-fonte-claro);
    border: 20px solid var(--tema-secundario); /* Largura, estilo e cor da borda 
    border-radius: 25px; 
    padding: 5% 0%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.comentarios h1 {
    font-size: var(--fonte-grande);
    margin: 0% 0% 2% 0%;
    color: var(--preto-fonte);
    font-weight: 800;
    text-align: center;
}
.comentarios a {
    font-size: var(--fonte-padrao);
    color: var(--tema-terciario);
    text-align: center;
}
.form-comentarios {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.textfield {
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.textfield label {
    font-size: var(--fonte-padrao);
    font-weight: 700;
    margin-top: 2%;
}
.textfield input::placeholder {
    font-size: var(--fonte-padrao);
    color: var(--preto-fonte);
    padding-left: 4%;
}
.textfield>input:focus {
    outline: none;
    color: var(--preto-fonte);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10%;
    transition: 0.5s;
}
.textfield>input {
    width: 100%;
    margin-top: 2%;
    border: none;
    border-bottom: 2px solid var(--tema-secundario);
    background-color: rgba(0, 0, 0, 0.0); /* Define a cor de fundo com transparência
    color: var(--tema-terciario);
    font-size: var(--fonte-padrao);
    box-shadow: none;
    outline: none;
}
.comentarios input[type="submit"] {
    background-color: var(--tema-terciario);
    color: var(--branco-principal);
    font-size: var(--fonte-padrao);
    border-radius: 5px;
    padding: 1% 0%;
    width: 100%;
    margin: 6% 0%;
}
input[type="submit"]:hover {
    background-color: var(--branco-principal);
    color: var(--tema-terciario);
    cursor: pointer;
    transition: 0.5s;
}
 comentario end */

/* sobre start*/
.sobre {
    background-color: var(--cinza-fonte-claro);
}
.container-sobre {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2.5% auto;
}
.container-sobre h1{
    font-size: var(--fonte-media);
    color: var(--tema-primario); 
    text-align: center; 
}
.container-sobre h2{
    font-size: var(--fonte-padrao);
    color: var(--tema-terciario);
    font-weight: 600; 
    text-align: center;
}
.text-sobre { 
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center;     /* Vertical alignment */
}
.text-sobre p{
    font-size: var(--fonte-padrao);
    color: var(--tema-terciario);
    font-weight: 600;
    text-indent: 2.5%; /* Recuo do pragrafo */
}
.paragrafos-sobre {
    display: flex;
    flex-direction: column;
}

.img-sobre img{
    height: 25vw;
}
/*Card dos Cursos em Sobre, início
.contSlideCursos{
    height: auto;
    max-height: 480px;
    min-width: 15%;
    width: 100%;
    margin: auto;
    padding: 40px 0;
}
.slideCursos{
    height: auto;
    max-height: 460px;
    min-width: 15%;
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.involucroCard{
    border-radius: 25px;
    background-color: #e8f0fe;
}
.contImgCardSobre{
    position: relative;
    row-gap: 8px;
    padding: 25px 0;
}
.contImgCardSobre, 
.conteuCardSobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.sobrepos{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
    border-radius: 25px 25px 0 25px;
}
.sobrepos::before, .sobrepos::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070f4;
}
.sobrepos::after{
    border-radius: 0 25px 0 0;
    background-color: #e8f0fe;
}
.imgCardSobre{
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #e8f0fe;
    padding: 3px;
}
.imgCardSobre .Sobreimg{
    height: 100%;
    width: 100%;
    object-fit: cover;*/ /*redimensiona o objeto a manter proporção e ocupar todo espaço de seu container
    border-radius: 50%;
    border: 4px solid #1A4261;
}
.nomeCursoCard{ 
    font-size: var(--fonte-media);
    color: var(--tema-primario);
    margin: 5px 50px ;
    text-align: center;
}
.descricaoCursoCard{
    font-size: var(--fonte-padrao);
    color: var(--tema-terciario);
    text-align: justify;
    margin: 25px;
}
.botaoCursoCard{
    display: flex;
    justify-content: center;
    border: none;
    font-size: 16px;
    color: #e8f0fe;
    padding: 10px 20px;
    background-color: #4070f4;
    border-radius: 6px;
    margin: auto;
    cursor: pointer;*/
/*All: todas as propried. css alteradas terão uma transição para si.
    transition: all 0.3s ease;*//*ease é uma função
predefinida que cria uma aceleração suave no início e no final da transição,com uma velocidade constante no meio.
}
.botaoCurso:hover{
    background: #265df2;
}
.swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3 ease;
}
.swiper-navBtn:hover{
    color: #4070f4;
}
.swiper-navBtn::before, .swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #4070f4;
}
@media screen and (max-width: 780px){
    .slideCursos{
        margin: 0 40px;
    }
    .swiper-navBtn{
        display: none;
    }
}*/
/* sobre end */

/* contato start */
.contato-principal {
    background-color: var(--cinza-fonte-claro);
    width: 100%;
} 
.container-contato {
    margin: 2.5% auto;
    width: 75%;
    background-color: var(--cinza-fonte-claro);
}
.text-contato {
    display: flex;
    flex-direction: row;
}
.contato {  /* Container Principal Contato*/
    width: 60%;
    background-color: var(--cinza-fonte-claro);
    border: 2px solid var(--tema-secundario);
    border-radius: 25px;
    padding: 5% 0%;
    margin: 0.5% 5%;
}
.fale-conosco { /* Fale Conosco*/
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.container-contato h1 { /* Título*/
    font-size: var(--fonte-media);
    color: var(--tema-primario);
    text-align: center;
}
.container-contato h2 { /* Subtítulo */
    font-size: var(--fonte-padrao);
    color: var(--tema-terciario);
    font-weight: 600; 
    margin-bottom: 2.5% ;
    text-align: center;
}
.container-contato p{
    font-size: var(--fonte-padrao);
    color: var(--tema-terciario);
    font-weight: 600;
    text-indent: 2.5%; /* Recuo do pragrafo */
    margin: 2.5%;
}
.paragrafo-contato {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 10%;
}
/* Formulário*/
.textfield { /* Textfield Container Principal*/
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.textfield label { /* Texto de Descrição*/
    font-size: var(--fonte-padrao);
    font-weight: 700;
    margin-top: 2%;
}
.textfield input::placeholder { /* Local Onde se escreve*/
    font-size: var(--fonte-padrao);
    color: var(--preto-fonte);
    padding-left: 4%;
}
.textfield>input:focus { /* Texto no Placeholder*/
    outline: none;
    color: var(--preto-fonte);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10%;
    transition: 0.5s;
}
.textfield>input { /*Quando você escreve o textfield*/
    width: 100%;
    margin-top: 2%;
    border: none;
    border-bottom: 2px solid var(--tema-secundario);
    background-color: rgba(0, 0, 0, 0.0); /* Define a cor de fundo com transparência */
    color: var(--tema-primario);
    font-size: var(--fonte-padrao);
    padding-left: 4%;
    box-shadow: none;
    outline: none;
}
.fale-conosco input[type="submit"] { /* Botão Enviar Azul*/
    background-color: var(--tema-terciario);
    color: var(--branco-principal);
    font-size: var(--fonte-padrao);
    border-radius: 5px;
    padding: 1% 0%;
    width: 100%;
    margin: 6% 0% ;
}

input[type="submit"]:hover { /* Quando Clicar no Botão Enviar Azul*/
    background-color: var(--branco-principal);
    color: var(--tema-terciario);
    cursor: pointer;
    transition: 0.5s;
}
@media (max-width: 1050px) { /* RESPONSIVO*/
    .contato-principal {
    height: 90vh;
}
}
/* contato end*/

/* footer start*/
.footer {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    justify-content: center;
    justify-content: flex-end;
}
.footer-02-hr {
    background-color:var(--tema-primario);
}
.footer-02 {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}
.footer-02 a {
    font-size: var(--fonte-padrao);
    color: var(--branco-principal);
    padding-top: 1%;
}
.footer-02 h2 {
    font-size: var(--fonte-padrao);
    color: var(--branco-principal);
    padding-top: 1%;
}
.footer-02 h3 {
    font-size: var(--fonte-media);
}
.footer-part {
    display: flex;
    flex-direction: column;
    margin: 2.5% 0% 2.5% 2.5%;
}
.footer-part hr {
    height: 1px;
    border: none;
    background-color: var(--tema-secundario);
}
.footer-part h1 {
    color: var(--branco-principal);
    font-size: var(--fonte-media);
    padding-left: 2%;
}
.links-footer a {
    color: var(--tema-secundario);
    text-decoration: underline var(--tema-secundario);
}
.links-footer a:hover {
    color: var(--branco-principal);
    text-decoration: underline var(--branco-principal);
}
.left-logo h1{
    font-size: var(--fonte-grande);
    font-weight: 700;
}
.left-logo h2{
    margin-top: 5%;
}
.footer-bottom-hr {
    background-color: var(--tema-primario);
    color: var(--branco-principal);
    font-size: var(--fonte-padrao);
    width: 100%;
}
.footer-bottom-hr hr{
    width: 70%;
    margin: auto;
    height: 1px;
    border: none;
    background-color: var(--tema-secundario);
}
.footer-bottom {
    display: flex;
    background-color: var(--tema-primario);
    color: var(--branco-principal);
    width: 70%;
    margin: auto;
}
.footer-bottom-h2 {
    font-size: var(--fonte-padrao);
}
.right-icons {
    display: flex;
    margin-left: 60%;
}
.right-icons a {
    color: var(--branco-principal);
    background-color: var(--tema-primario);
    padding: 2%;
}
.right-icons img {
    height: 1.25vw;
}
/* - - - responsive - - - */
@media (max-width: 1050px) {
    .footer-02 {
        flex-direction: row;
    }
    .footer-02 h1 {
        font-size: var(--fonte-grande);
    }
    .footer-02 h2 {
        font-size: var(--fonte-media);
    }
}
/* footer end */
