/*.contInvolucroCard {
  border-radius: 25px;
  width: 100%;
  height: auto;
  background-color: #e8f0fe;
  font-family: var(--fonte-1p5VW);
  font-weight: 300;
}*/

.carrossel{ 
  height: 1000vw;
  max-height: 100vh;/*680px 100vh*/
  min-height: 25vh;
  /*margin-top: -50px;900px 100vw*/
  overflow: hidden;
  position: relative;
  margin-left: auto;
}
.carrossel .list .item{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carrossel .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carrossel .list .item .contentCarroselCard{
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}
.carrossel .list .item .autor{
  font-weight: bold;
  letter-spacing: 10px;
}
.carrossel .list .item .titulo, .carrossel .list .item .topico{
  font-size: 30px; /*5em*/
  font-weight: bold;
  line-height: 8px; /*1.3em*/
}
.carrossel .list .item .topico{
  color: #f1683a;
}
.carrossel .list .item .botaoCarrossel{
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.carrossel .list .item .botaoCarrossel button{
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: Poppins;
  font-weight: 500;
}

.carrossel .list .item .botaoCarrossel button a{
  text-decoration: none;
  font-family: var(--fonte-1p5VW);
}
/* thumbail */
.thumbnail{
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item{
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .contentCarroselCard{
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .contentCarroselCard .titulo{
  font-weight: 500;
}
.thumbnail .item .contentCarroselCard .description{
  font-weight: 300;
}
/* arrows */
.setas{
  position: absolute;
  top: 80%;
  right: 52%;
  z-index: 100;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.setas button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  transition: .5s;
  z-index: 100;
}
.setas button:hover{
  background-color: #fff;
  color: #000;
}

/* animation */
.carrossel .list .item:nth-child(1){
  z-index: 1;
}

/* animation text in first item */

.carrossel .list .item:nth-child(1) .contentCarroselCard .autor,
.carrossel .list .item:nth-child(1) .contentCarroselCard .titulo,
.carrossel .list .item:nth-child(1) .contentCarroselCard .topico,
.carrossel .list .item:nth-child(1) .contentCarroselCard .des,
.carrossel .list .item:nth-child(1) .contentCarroselCard .botaoCarrossel
{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContentCarroselCard .5s 1s linear 1 forwards;
}
@keyframes showContentCarroselCard{
  to{
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
  }
}
.carrossel .list .item:nth-child(1) .contentCarroselCard .titulo{
  animation-delay: 1.2s;
}
.carrossel .list .item:nth-child(1) .contentCarroselCard .topico{
  animation-delay: 1.4s;
}
.carrossel .list .item:nth-child(1) .contentCarroselCard .des{
  animation-delay: 1.6s;
}
.carrossel .list .item:nth-child(1) .contentCarroselCard .botaoCarrossel{
  animation-delay: 1.8s;
}
/* create animation when next click */
.carrossel.proximo .list .item:nth-child(1) img{
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
  to{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}

.carrossel.proximo .thumbnail .item:nth-last-child(1){
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}
.carrossel.anterior .list .item img{
  z-index: 100;
}
@keyframes showThumbnail{
  from{
      width: 0;
      opacity: 0;
  }
}
.carrossel.proximo .thumbnail{
  animation: effectProximo.5s linear 1 forwards;
}

@keyframes effectProximo{
  from{
      transform: translateX(150px);
  }
}

/* running time/operando o tempo */

.carrossel .tempo{
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f1683a;
  left: 0;
  top: 0;
}

.carrossel.proximo .tempo,
.carrossel.anterior .tempo{
  animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
  from{ width: 100%}
  to{width: 0}
}


/* prev click */

.carrossel.anterior .list .item:nth-child(2){
  z-index: 2;
}

.carrossel.anterior .list .item:nth-child(2) img{
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame{
  to{
      width: 150px;
      height: 220px;
      bottom: 50px;
      left: 50%;
      border-radius: 20px;
  }
}

.carrossel.anterior .thumbnail .item:nth-child(1){
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}
.carrossel.proximo .setas button,
.carrossel.anterior .setas button{
  pointer-events: none;
}
.carrossel.anterior .list .item:nth-child(2) .contentCarroselCard .autor,
.carrossel.anterior .list .item:nth-child(2) .contentCarroselCard .titulo,
.carrossel.anterior .list .item:nth-child(2) .contentCarroselCard .topico,
.carrossel.anterior .list .item:nth-child(2) .contentCarroselCard .des,
.carrossel.anterior .list .item:nth-child(2) .contentCarroselCard .botaoCarrossel
{
  animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
  to{
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .carrossel .list .item .contentCarroselCard{
      padding-right: 0;
  }
  .carrossel .list .item .contentCarroselCard .titulo{
      font-size: 30px;
  }
}